<div class="mat-elevation-z8">
  <div class="example-header">
    <div class="example-header-search">
      <mat-form-field>
        <input matInput (keyup)="applySearch($event)" placeholder="Search">
      </mat-form-field>
    </div>
    <div class="example-header-filter">
      <mat-form-field>
        <input matInput #fromAmountInput placeholder="From Amount" type="number">
      </mat-form-field>
      <mat-form-field>
        <input matInput #toAmountInput placeholder="To Amount" type="number">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="applyPriceRangeFilter(fromAmountInput.value, toAmountInput.value)">
        Apply Price Range
      </button>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[column] }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="pageSize" [pageIndex]="p - 1" [length]="dataSource.data.length"
    (page)="onPageChange($event)"></mat-paginator>
</div>