.mat-elevation-z8{
    padding: 20px 10%;
    background-color: #ccc;
}
.search-container {
    margin-bottom: 16px;
  }
  /* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .range-button{
    height: 50px;
    border-radius: 5px;
    border: 0px;
    background-color: darkgoldenrod;
    color: black;
    font-size: 14px;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  