<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[column] }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="pageSize" [pageIndex]="p - 1" [length]="dataSource.data.length" (page)="onPageChange($event)"></mat-paginator>
</div>
